<!DOCTYPE html>
<html>
    <head>
        <title>navbar</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="top-nav">  
        <nav>
        <ul>
            <li><a href="/">Home</li>
            <li><a href="../templates/register.html">Register</a></li>
            <li><a href="../templates/login.html">Login</a></li>
            <li><a href="../templates/about.html">About</a></li>
        </ul>  
    </nav>
</div>
<div class="side-nav">
    <nav>
        <ul>
            <li>Movies</li>
            <li>Series</li>
            <li>Sports</li>
            <li>Shows</li>
        </ul>
    </nav>
</div>
<div class="img-nav">
    <img src="../static/images/background1.jpg" alt="noImg">
</div>

<div class="bottom-nav">
    <p>&copy; Copyright 2024 All rights reserved by AMRUTHA</p>
</div>
</body>
</html>